.category_nav{
    padding-top: 50px;
    display: flex;
    justify-content:left; 
}
.category_current {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Gilroy-Regular;
    color: #747474;
    font-size: 12px;
}
.category_nav p{
    font-family: Gilroy-Bold;
    color: #747474;
    font-size: 12px;
    margin: 0 10px;
}
.nav_last{
    font-family: Gilroy-Bold;
    text-decoration: none;
    color: #747474;
    font-size: 12px;
}

/* sec orders */
#orders {
    padding-top: 50px;
    padding-bottom: 50px;
}
.categories {
    display: flex;
    gap: 89px;
    margin-bottom: 50px;
}
.left_cat, .right_cat {
    display: none;
}
.type_orders a {
    text-decoration: none;
    font-family: Gilroy-Regular;
    font-size: 30px;
    color: #0D0D0D;
    padding: 20px 0;
}
.active_order a {
    font-family: Gilroy-Bold;
    border-bottom: 3px solid #0D0D0D;
}
.head_t {
    padding: 30px 140px;
    display: flex;
    justify-content: space-between;
}
.head_t p {
    font-family: Gilroy-Regular;
    font-size: 14px;
    color: #0D0D0D;
    text-align: center;
}
.list {
    display: none;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}
.active_list {
    display: flex;
}
.block_order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 140px;
    border: 1px solid #AAAAAA;
    border-radius: 20px;
}
.block_order img, .t_photo {
    width: 183px;
    height: auto;
}
.block_order .names_item, .t_name {
    width: 285px;
}
.block_order .cost_order, .t_cost {
    width: 130px;
}
.block_order .count, .t_count {
    width: 100px;
}
.block_order .res, .t_res {
    width: 130px;
}
.names_item p, .cost_order, .count, .res {
    text-align: center;
}
.names_item, .cost_order, .count, .res {
    font-family: Gilroy-Regular;
    font-size: 20px;
    line-height: 30px;
    color: #0D0D0D;
}
.cost_order, .count, .res {
    font-size: 30px;
}
.main_name {
    font-family: Gilroy-Bold;
    font-size: 20px;
    line-height: 30px;
    color: #0D0D0D;
}
.count span {
    display: none;
}
.res_cost {
    font-family: Gilroy-Regular;
    font-size: 50px;
    color: #0D0D0D;
    text-align: right;
}
.res_cost span {
    font-family: Gilroy-Bold;
}
.search_catalog{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(196, 196, 196, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: none;
}
.konch_container {
    position: relative;
}
@media screen and (max-width: 1500px) {
    .categories {
        margin-left: 0;
        height: 60px !important; 
        text-align: center;
    }
}
@media screen and (max-width: 1200px) {
    .block_order {
        padding: 8px 10px;
    }
    .head_t {
        padding: 30px 10px;
    }
}
@media screen and (max-width: 1280px) {
    .categories {
        width: 90%;
    }
    .left_cat, .right_cat {
        display: block;
        position: absolute;
        top: auto;
    }
    .left_cat {
        left: 0;
    }
    .right_cat {
        right: 0;
    }
}
@media screen and (max-width: 910px) {
    .block_order {
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
    }
    .head_t, .category_nav {
        display: none;
    }
    .count span {
        display: inline-block;
        margin-right: 3px;
    }
    .list {
        margin-top: 25px;
    }
    .block_order .names_item, .block_order .cost_order, .block_order .count, .block_order .res {
        width: 100%;
    }
    .block_order {
        width: 290px;
        position: relative;
    }
    .search_catalog img {
        width: auto;
    }
    .active_order a {
        border: none;
    }
    .type_orders a {
        font-size: 20px;
    }
    .left_cat, .right_cat {
        top: auto;
    }
    .search_catalog {
        display: flex;
    }
}